version: '3.4'
services:

  duckling-server:
    image: rasa/duckling:latest
    ports:
    - 8000:8000
    networks:
    - all

  rasa-server:
    image: rasa-bot:latest
    working_dir: /app
    build: "./"
    volumes:
    - ./data: /app/data
    - ./actions: /app/actions
    - ./tests: /app/tests
    command: bash -c "rm -rf .rasa/* && rasa train && rasa run --enable-api --cors \"*\""
    ports:
    - '5006:5005'
    networks:
    - all

  rasa-actions-server:
    image: rasa-bot:latest
    working_dir: /app
    build: "./"
    volumes:
    - ./actions:/app/actions
    - ./utils:/app/utils
    command: bash -c "rasa run actions"
    ports:
    - '5055:5055'
    networks:
    - all

networks:
  all:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "true"